CP03 - IoT/flows.json
[
    {
        "id": "2a008fe43f31f0fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e30d70cc060ac8c8",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "294c3454b991babd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f076ef98cfe26e27",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d47788954bf98b63",
        "type": "ui_group",
        "name": "Medição da Caixa D'água",
        "tab": "294c3454b991babd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3b5250da2dfe66b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0226777f66245e05",
        "type": "serial in",
        "z": "2a008fe43f31f0fe",
        "name": "",
        "serial": "e30d70cc060ac8c8",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "30466458284fd509"
            ]
        ]
    },
    {
        "id": "30466458284fd509",
        "type": "json",
        "z": "2a008fe43f31f0fe",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "5a48d425ae3d9bf1"
            ]
        ]
    },
    {
        "id": "5a48d425ae3d9bf1",
        "type": "change",
        "z": "2a008fe43f31f0fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Distancia",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "1f0c8ed2164dec70",
                "9a7aaa3ccb5d122b",
                "7c89198a7294c1a6"
            ]
        ]
    },
    {
        "id": "1f0c8ed2164dec70",
        "type": "ui_gauge",
        "z": "2a008fe43f31f0fe",
        "name": "",
        "group": "d47788954bf98b63",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Caixa D'água",
        "label": "Litros Restantes",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#b30c00",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "9a7aaa3ccb5d122b",
        "type": "mqtt out",
        "z": "2a008fe43f31f0fe",
        "name": "MQTT PUB",
        "topic": "fiap/iot/4SIT/Optiflow/Sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e3b5250da2dfe66b",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c89198a7294c1a6",
        "type": "debug",
        "z": "2a008fe43f31f0fe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "d14887ff4abe230f",
        "type": "mqtt in",
        "z": "2a008fe43f31f0fe",
        "name": "MQTT SUB",
        "topic": "fiap/iot/4SIT/Optiflow/Sensor1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e3b5250da2dfe66b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "db15a619a53e25ed"
            ]
        ]
    },
    {
        "id": "db15a619a53e25ed",
        "type": "serial out",
        "z": "2a008fe43f31f0fe",
        "name": "COM5",
        "serial": "e30d70cc060ac8c8",
        "x": 490,
        "y": 360,
        "wires": []
    }
]